In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("main.csv")

In [10]:
df=data[["Team","Yellow Cards","Red Cards"]]

In [12]:
df.sort_values(["Red Cards","Yellow Cards"],ascending=[False,False])

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0